body{
    font-family: 'poppins', sans-serif;
    padding:0;
    margin:0;
    
}


.over{
    display:flex;
}
.over_title{
    width:50%;
    margin-top: 100px;
    margin-left:70px;
}
.over_title h1{
    font-size:60px;
    font-weight: bold;
    padding-top:50px;
    color:rgb(97, 95, 95);
    
}
.over_title h1 span{
    color:#FB9F66;
    padding-right:20px;
}

.over_title p{
    color:rgb(97, 95, 95);
    font-size:20px;
    margin-bottom: 60px;
}

.over_image{
    width:50%;
}
.over_image img{
    width:100%;
}

.order{
    text-decoration: none;
    font-size:25px;
    background-image:linear-gradient( #FB944A, #FD5031) ;
    padding:20px 30px;
    color:white;
    font-weight:bold;
    border-radius:20px;
   
}

 .About{
    background-image: url(images/7.png);
    background-repeat:no-repeat;
    
    
    
    margin-top: 10%;
   

}
.wraper{
    display: flex;
    
    margin:50px
}
.About_image{
    width:50%;
}
.About_image img{
    width:60%;
    margin:40px 20px;
}

.recipies{
    background-color: #FFFFFF;
    /* height: 90vh; */
    text-align: center;
    
    
}
.recipies h1{
    font-size:2.3em;
    font-weight: bold;
    color:rgb(105, 103, 103)
}
.recipies p{
    font-size: 22px;
    line-height: 30px;
    font-weight:400;
    color:rgb(105, 103, 103);
}

.food-wrap{
    display: flex;
    
}
.food_left{
    width:40%;
}
.food_left img{
    width:100%;
}
.food_left{
    padding:5%;
    border:2px solid rgb(122, 122, 122);
    margin:2%;
    box-shadow: 6px 6px 7px 10px rgb(105, 103, 103);
    border-radius:20px;
}
 h2{
    font-size: 30px;
    font-weight:bold;
    color:rgb(83, 81, 81);
    text-align:left;
}
.food_left p{
    font-size: 22px;
    text-align: justify;
}


.food_right{
    width:40%;
}
.food_right{
    padding:5%;
    border:2px solid rgb(122, 122, 122);
    margin:2%;
    box-shadow: 6px 6px 8px 10px rgb(105, 103, 103);
    border-radius:20px;
}
.food_right p{
    font-size: 22px;
    text-align: justify;
}
.food_right img{
    width:100%;
}

.sub{
    
    margin-top:15%;
}
.sub_wrap{
   
    display: flex;
    
    border:1px solid #ddd;
    margin:5%;
    padding:3%;
    box-shadow:1px -1px 13px 0px;
    border-radius:10px;
}

.single{
    width:40%;
    
}

.single2{
    width:40%;
}
.single3{
    width:40%;
}

footer{
    background-color: rgb(49, 47, 47);
    height:40vh;
}
footer h1{
    text-align: center;
    padding-top:5%;
    color:#5B5B5B;
}
footer span{
    color:#FB984C;
}
footer p{
    text-align:center;
    font-size:20px;
    color:#b8b9b9;
}